{% extends 'base.html.twig' %}


{% block title %}
    Application
{% endblock %}

{% block main %}
    <h3 class="modal-title text-monospace custom-m-b">{{ 'label.add_list'|trans }}</h3>
    <div class="form-group">
        {{ form_start(form, { method: 'post', action: url('list_add') }) }}
        <div>
            {{ form_label(form.name, 'label.name'|trans) }}<br/>
            <div class="form-input">
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
        <br/>
        <div>
            {{ form_label(form.maxCost, 'label.max_cost'|trans) }}<br/>
            <div class="form-input">
                {{ form_widget(form.maxCost) }}
                {{ form_errors(form.maxCost) }}
            </div>
        </div>
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success custom-m-t" />
        {{ form_end(form) }}
    </div>
{% endblock %}
