{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .custom-m-b {
            margin-bottom: 10px;
        }

        .custom-m-t {
            margin-top: 20px;
        }

        .custom-m-r {
            left: -50px;
        }

        .horizontal-line {
            height: 1px;
            width: 100%;
            background-color: black;
            margin: 20px 0;
        }
        .table {
            max-width: 650px;
        }
    </style>
{% endblock %}

{% block title %}
    Application
{% endblock %}

{% block main %}
    <h3 class="modal-title text-monospace custom-m-b">{{ 'label.edit_list'|trans({'%name%': editedList.name}) }}</h3>
    <div class="form-group">
        {{ form_start(form, { method: 'post', action: url('list_edit', {'id': editedList.id}) }) }}
        <div>
            {{ form_label(form.name, 'label.name'|trans) }}<br/>
            <div class="form-input">
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
        <br/>
        <div>
            {{ form_label(form.maxCost, 'label.max_cost'|trans) }}<br/>
            <div class="form-input">
                {{ form_widget(form.maxCost) }}
                {{ form_errors(form.maxCost) }}
            </div>
        </div>
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success custom-m-t" />
        {{ form_end(form) }}
    </div>
    <div class="horizontal-line"></div>
    <a href="{{ url('element_add', {'id' : editedList.id}) }}"><button role="button" class="btn btn-success custom-m-b">{{ 'label.add_element'|trans }}</button></a>
    <table class="table table-hover">
        {% if products is defined and products|length %}
            <caption>{{ 'table.caption'|trans({'%name%': editedList.name}) }}</caption>
            <tbody>
            {% for product in products %}
                <tr>
                    <td class="custom-narrow"><span class="badge badge-primary badge-pill">{{ product.quantity }}</span></th>
                    <th scope="row" class="text-uppercase {% if product.isBought == true %} custom-bought {% endif %}">{{ product.name }}</th>
                    {% if product.isBought == false %}
                        <td class="custom-pos_rel"><a href="#" class="custom-btn_table custom-m-r"><button role="button" class="btn btn-warning">{{ 'label.edit'|trans }}</button></a></td>
                        <td class="custom-pos_rel"><a href="#" class="custom-btn_table"><button type="button" class="btn btn-danger">{{ 'action.delete'|trans }}</button></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        {% else %}
            <p>{{ 'text.list_is_empty'|trans }}</p>
        {% endif %}
    </table>
{% endblock %}
