{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .custom-pos_rel {
            position: relative;
        }

        .custom-btn_table {
            position: absolute;
            top:5px;
        }

        .custom-narrow {
            width: 70px;
        }

        .custom-m-b {
            margin-bottom: 30px;
        }

        .custom-bought {
            font-weight: lighter;
            text-decoration: line-through;
        }

        .custom-costInfo-pos {
            position: absolute;
            left: 40px;
            top: -80px;
        }
        .table {
            max-width: 600px;
        }
    </style>
{% endblock %}

{% block title %}
    Application
{% endblock %}

{% block main %}
    <h3 class="modal-title text-monospace">{{ activeList.name }}</h3>
    {%  if activeList.maxCost %}
    <div class="custom-costInfo-pos">
        <div class="float-right">
            {{ 'label.planned_spendings'|trans }}<span class="font-weight-bold text-monospace">{{ plannedSpendings }}</span><br/>
            {{ 'label.current_spendings'|trans }}<span class="font-weight-bold text-monospace">{{ currentSpendings }}</span>
            <!--TO DO: Dodać ,,dotychczas wydano" obliczane na podstawie kupionych rzeczy-->
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ spendPercent }}%" aria-valuenow="{{ spendPercent }}" aria-valuemin="0" aria-valuemax="100">{{ spendPercent }}%</div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="float-right custom-m-b">{{ 'label.no_max_cost'|trans }} <a href="{{ url('list_edit', {'id': activeList.id}) }}" class="text-warning">{{ 'label.edit_current_list'|trans }}</a></div>
    {% endif %}
    <table class="table table-hover">
        {% if products is defined and products|length %}
        <caption>{{ 'table.caption'|trans({'%name%': activeList.name}) }}</caption>
        <tbody>
        {% for product in products %}
        <tr>
            <td class="custom-narrow"><span class="badge badge-primary badge-pill">{{ product.quantity }}</span></th>
            <th scope="row" class="text-uppercase {% if product.isBought == true %} custom-bought {% endif %}">{{ product.name }}</th>
            {% if product.isBought == false %}
                <td class="custom-pos_rel"><a href="{{ url('element_buy', {'id': product.id}) }}"><button type="button" class="btn btn-success custom-btn_table">{{ 'label.bought'|trans }}</button></a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
        {% else %}
        <p>{{ 'text.list_is_empty'|trans }}</p>
        {% endif %}
    </table>
{% endblock %}
