{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .custom-m-b {
            margin-bottom: 10px;
        }

        .custom-m-t {
            margin-top: 20px;
        }

        .custom-m-r {
            left: -50px;
        }

        .horizontal-line {
            height: 1px;
            width: 100%;
            background-color: black;
            margin: 20px 0;
        }
        .table {
            max-width: 650px;
        }
    </style>
{% endblock %}

{% block title %}
    Application
{% endblock %}

{% block main %}
    {% form_theme form with ['bootstrap_4_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}

    <h3 class="modal-title text-monospace custom-m-b">{{ 'label.edit_element'|trans({'%name%': editedElement.name}) }}</h3>
    <div class="form-group">
        {{ form_start(form, { method: 'post', action: url('element_edit', {'id' : editedElement.id}) }) }}
        <div>
            {{ form_label(form.name, 'label.name'|trans) }}<br/>
            <div class="form-input">
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
        <br/>
        <div>
            {{ form_label(form.isBought, 'label.isBought'|trans) }}<br/>
            <div class="form-input">
                {{ form_widget(form.isBought) }}
                {{ form_errors(form.isBought) }}
            </div>
        </div>
        <br/>
        <div>
            {{ form_label(form.value, 'label.value'|trans) }}<br/>
            <div class="form-input">
                {{ form_widget(form.value) }}
                {{ form_errors(form.value) }}
            </div>
        </div>
        <br/>
        <div>
            {{ form_label(form.quantity, 'label.quantity'|trans) }}<br/>
            <div class="form-input">
                {{ form_widget(form.quantity) }}
                {{ form_errors(form.quantity) }}
            </div>
        </div>
        <div>
            {{ form_label(form.isItem, 'label.isItem'|trans) }}<br/>
            <div class="form-input">
                {{ form_widget(form.isItem) }}
                {{ form_errors(form.isItem) }}
            </div>
        </div>
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success custom-m-t" />
        {{ form_end(form) }}
    </div>
{% endblock %}
